<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:guo="http://guoyukun.cn/schema/leman/guo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://guoyukun.cn/schema/leman/guo http://guoyukun.cn/schema/leman/guo/guo-1.0.xsd">


    <guo:map id="indenpentMap" map-class="java.util.TreeMap">
        <guo:for from="1" to="3" placeholder="index">
            <entry key="ka-{{index}}" value="va-{{index}}"></entry>
            <entry key="kaz-{{index}}" value="vaz-{{index}}"></entry>
        </guo:for>
        <guo:for from="1" to="3" desc="b">
            <entry key="kb-{{index}}" value="vb-{{index}}"></entry>
        </guo:for>
    </guo:map>


    <bean id="constructorMap" class="java.util.HashMap">
        <constructor-arg>
            <guo:map>
                <guo:for from="1" to="3" desc="">
                    <entry key="k{{index}}" value="v{{index}}"></entry>
                </guo:for>
            </guo:map>
        </constructor-arg>
    </bean>

</beans>
